/*
  why?!? because bs3 isn't smart enough to pad body if
  using fixed navbar.
*/

body { 
  padding-top: 70px; 
}


/*
  col-margin: extra markup to add a touch of space
  between elements when columns collapse. 
  why is this not part of bs3 by default?
*/

.col-margin {
 margin-top: 0.5em;
 margin-bottom: 0.5em; 
}